.container{
    margin: auto;
    width: 50%;

}

.container h1{
    text-align: center;
}


.input-container{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}


.board{
    display: grid;
    margin: auto;
    width: 80%;
    height:60%;
    background-color: grey;
}


.box{
    background-color: aqua;
}

.board-color{
    background-color: black;
}